/*Configurações globais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Configurações da tela inicial*/
.home{
    position: relative;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}


.home-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-icon{
    width: 202px;
    height: 112px;
}

.title-home{
    color:#9F9F9F;
    font-size:34px;
    font-style: Bold;
    font-family: 'Secular One', sans-serif;

}

